*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.properties

*.xml

*.prefs

*.properties

code/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

code/target/m2e-wtp/web-resources/META-INF/maven/EMR/EMR/pom.xml

code/target/m2e-wtp/web-resources/META-INF/maven/EMR/EMR/pom.properties

code/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

user story & sprints/User Story 1.8.xlsx
